body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.black-background {
	background-color: #222;
}

.required:after {
	content: ' *';
	color: red;
}
