{{> menu}}
<div class="jumbotron">
	<div class="container">
		<h1>Form Submitted</h1>
	</div> 
</div>

<div class='container'>
	<div class="table-responsive">
		<table class="table table-bordered">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email Address</th>
				<th>Work Phone Number</th>
				<th>Home Phone Number</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Country</th>
				<th>Zipcode</th>
			</tr>
			<tr>
				<td>{{params.fname}}</td>
				<td>{{params.lname}}</td>
				<td>{{params.emailAddress}}</td>
				<td>{{params.workPhoneNumber}}</td>
				<td>{{params.homePhoneNumber}}</td>
				<td>{{params.address}}</td>
				<td>{{params.city}}</td>
				<td>{{params.state}}</td>
				<td>{{params.country}}</td>
				<td>{{params.zipcode}}</td>
			</tr>
		</table>
	</div>
</div>
