{{> menu}}
<div class="container" ng-controller='IndexController'>
	<form name='myForm' action='./form.action' method='post' novalidate>
		<div class="row">

			<fieldset>

				<!-- Form Name -->
				<legend>A Complex Form</legend>

				<!-- Text input-->
				<div class="container">
					<div class='row'>
						<div class='col-md-6'>
							<div class="form-group">
								<div class="col-md-4 ">

									<label class="control-label required" for="fname">First Name</label> 
											  
									<div class="row error" ng-show="myForm.fname.$invalid && myForm.fname.$touched">
										Required
									</div>
								</div>
								<div class="col-md-8">
									<input id="fname" name="fname" placeholder="your first name" ng-model='fname' class="form-control input-md" type="text" required>
									<span class="help-block">please enter your first name</span>  
								</div>
							</div>
						</div>
						<div class='col-md-6'>
							<div class="form-group">
								<label class="col-md-4 control-label" for="lname">Last Name</label>  
								<div class="col-md-8">
									<input id="lname" name="lname" placeholder="your last name" class="form-control input-md" type="text">
									<span class="help-block">please enter your last name</span>  
								</div>
							</div>
						</div>

					</div>

				</div>

				<!-- Text input-->
				<div class="container">
					<div class='row'>
						<div class='col-md-6'>
							<!-- Text input-->
							<div class="form-group">
								<div class="col-md-4 ">

									<label class="control-label required" for="emailAddress">Email Address</label> 
											  
									<div class="row error" ng-show="myForm.emailAddress.$invalid && myForm.emailAddress.$touched">
										Required & Email Format
									</div>
								</div>

								<div class="col-md-8">
									<input id="emailAddress" name="emailAddress" ng-model='emailAddress' placeholder="email address" class="form-control input-md" required type="email">
									<span class="help-block">please enter your email address</span>  
								</div>
							</div>
						</div>
						<div class='col-md-6'>

						</div>

					</div>

				</div>

				<!-- Text input-->
				<div class="container">
					<div class='row'>
						<div class='col-md-6'>
							<!-- Text input-->
							<div class="form-group">
								<div class="col-md-4 ">

									<label class="control-label required" for="workPhoneNumber">Work Phone Number</label> 
											  
									<div class="row error" ng-show="myForm.workPhoneNumber.$invalid && myForm.workPhoneNumber.$touched">
										Required & Number Only 
									</div>
								</div>

								<div class="col-md-8">
									<input id="workPhoneNumber" name="workPhoneNumber" ng-model="workPhoneNumber" placeholder="work phone number" class="form-control input-md" required type='number'>
									<span class="help-block">please enter your work phone number</span>  
								</div>
							</div>
						</div>
						<div class='col-md-6'>
							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="homePhoneNumber">Home Phone Number</label>  
								<div class="col-md-8">
									<input id="homePhoneNumber" name="homePhoneNumber" placeholder="home phone number" class="form-control input-md" type="text">
									<span class="help-block">please enter your home phone number</span>  
								</div>
							</div>
						</div>

					</div>

				</div>

				<!-- Text input-->
				<div class="container">
					<div class='row'>
						<div class='col-md-12'>
							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-2 control-label" for="address">Address</label>  
								<div class="col-md-10">
									<input id="address" name="address" placeholder="address" class="form-control input-md" type="text">
									<span class="help-block">please enter your address</span>  
								</div>
							</div>
						</div>

					</div>

				</div>

				<!-- Text input-->
				<div class="container">
					<div class='row'>
						<div class='col-md-6'>
							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="city">City</label>  
								<div class="col-md-8">
									<input id="city" name="city" placeholder="city" class="form-control input-md" type="text">
									<span class="help-block">please enter your city</span>  
								</div>
							</div>
						</div>
						<div class='col-md-6'>
							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="state">State</label>  
								<div class="col-md-8">
									<input id="state" name="state" placeholder="state" class="form-control input-md" type="text">
									<span class="help-block">please enter your state</span>  
								</div>
							</div>
						</div>

					</div>

				</div>

				<!-- Text input-->
				<div class="container">
					<div class='row'>
						<div class='col-md-6'>
							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="country">Country</label>  
								<div class="col-md-8">
									<input id="country" name="country" placeholder="country" class="form-control input-md" type="text">
									<span class="help-block">please enter your country</span>  
								</div>
							</div>
						</div>
						<div class='col-md-6'>
							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="zipcode">Zipcode</label>  
								<div class="col-md-8">
									<input id="zipcode" name="zipcode" placeholder="zipcode" class="form-control input-md" type="text">
									<span class="help-block">please enter your zipcode</span>  
								</div>
							</div>
						</div>

					</div>

				</div>

				<!-- Text input-->
				<div class="container">
					<div class='row'>
						<div class='col-md-6'>
							<button class='btn btn-info pull-right black-background' ng-click='cancel($event)'>Cancel</button>
						</div>
						<div class='col-md-6'>
							<button ng-disabled='myForm.$invalid' class='btn btn-info black-background'>Submit</button> 

						</div>

					</div>

				</div>

			</fieldset>


		</div>

	</form>
</div><!-- /.container -->
